@(article: Article, taskForm: Form[(String, String)])

@import helper._
@import helper.twitterBootstrap._

@main("Article") {
    @form(routes.ArticlesController.edit(article.id.toString)) {

        @inputText(taskForm("caption"), '_label -> Messages("articleCaption"))
        @inputText(taskForm("body"), '_label -> Messages("articleBody"))

        <input type="submit" value="@Messages("articleSave")" class="btn-primary"><a href="@routes.ArticlesController.list()" class="btn">@Messages("articleBack")</a>

    }
}
