@(articles: List[Article], taskForm: Form[(String, String)])

@import helper._

@main("Articles") {

    <h1>@articles.size article(s)</h1>

    <ul>
        @articles.map { article =>
            <li>
                <b>@article.caption</b><br>
                <a href="@routes.ArticlesController.one(article.id.toString)">more</a>

                @form(routes.ArticlesController.delete(article.id.toString)) {
                    <input type="submit" value="Delete">
                        }
            </li>
        }
    </ul>

    <h2>Add a new article</h2>

    @form(routes.ArticlesController.create()) {

        @inputText(taskForm("caption"))
        @inputText(taskForm("body"))

        <input type="submit" value="Create">

    }

}
