@(articles: Map[String, List[Article]], taskForm: Form[(String, String, String)])(implicit l: Lang)

@import helper._
@import helper.twitterBootstrap._

@main("Articles") {

    <style type="text/css">
        body {
            background-color: #8d8d8d;
            }
        .well {
            background-color: #FFFFFF;
            }
    </style>

    <script>
            $(document).ready(openDefaultTab())

            function openDefaultTab(){
            $('#articles a:first').tab('show');
            }
    </script>

    <div class="container">
        <div class="well">

    &nbsp;<h3>@articles.size @Messages("articlesCaption")</h3>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">@Messages("articlesAddNewArticle")</a><hr>

        <div class="tabbable tabs-left" id="articles">
            <ul class="nav nav-tabs">
            @articles.keys.map { key =>
                <li class="nav nav-tabs"><a href="#@key.replaceAll(" ", "_")" data-toggle="tab">@key</a></li>
            }
            </ul>
            <div class="tab-content">
                @articles.map {entry =>

                    <div class="well tab-pane fade" id="@entry._1.replaceAll(" ", "_")">
                        <dl class="dl-horizontal">
                            @entry._2.map { article =>
                                <dt>@article.caption</dt>
                                <dd>@article.body <a href="@routes.ArticlesController.one(article.id.toString)">@Messages("articlesEdit")</a>

                                    @form(routes.ArticlesController.delete(article.id.toString)) {
                                        <input type="submit" class="btn" value="@Messages("articlesDelete")">
                                            }
                                </dd>
                            }
                        </dl>
                    </div>
                }
            </div>
        </div>
    </div>

    </div> <!-- container -->

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>@Messages("articlesAddNewArticle")</h3>
        </div>
        <div class="modal-body">
            @form(routes.ArticlesController.create(), 'class -> ".form-horizontal") {

                @inputText(taskForm("caption"), '_label -> Messages("articleCaption"), 'id->"form_caption")
                @inputText(taskForm("group"), '_label -> Messages("articleGroup"))
                @textarea(taskForm("body"), '_label -> Messages("articleBody"))
        </div>
        <div class="modal-footer">
            <input type="submit" value="@Messages("articleCreate")">
            }
        </div>
    </div>

}
