@(articles: List[Article], taskForm: Form[(String, String, String)])(implicit l: Lang)

@import helper._
@import helper.twitterBootstrap._

@main("Articles") {

    <h3>@articles.size @Messages("articlesCaption")</h3>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">@Messages("articlesAddNewArticle")</a><hr>

    <div class="well">
    <dl class="dl-horizontal">
        @articles.map { article =>
            <dt>@article.caption</dt>
            <dd>@article.body <a href="@routes.ArticlesController.one(article.id.toString)">@Messages("articlesEdit")</a>

                @form(routes.ArticlesController.delete(article.id.toString)) {
                    <input type="submit" class="btn" value="@Messages("articlesDelete")">
                        }
            </dd>
        }
    </dl>
    </div>

    <div id="myModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>@Messages("articlesAddNewArticle")</h3>
        </div>
        <div class="modal-body">
            @form(routes.ArticlesController.create(), 'class -> ".form-horizontal") {

                @inputText(taskForm("caption"), '_label -> Messages("articleCaption"))
                @inputText(taskForm("group"), '_label -> Messages("articleGroup"))
                @textarea(taskForm("body"), '_label -> Messages("articleBody"))
        </div>
        <div class="modal-footer">
            <input type="submit" value="@Messages("articleCreate")">
            }
        </div>
    </div>

}
