<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css"/>
    <title>FarmTranslate</title>
    <style>
        .header{
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div style="width: 100%; background-color: #25d8dc" class="row-fluid">
        <div class="span2 offset1" style="background: url('titleImage.jpeg') no-repeat; background-size: 60px auto; background-position: 75% 10%;">
            <h3>Pharm</h3>
            <h3 style="padding-left: 20px">Translate</h3>
        </div>
        <div class="span3 offset1" style="width: 30%; padding-top: 20px;">
            <div class="well">
                Veeeeeerrrrrryyyyyy loooooooong mottttoooo
            </div>
        </div>
        <div class="span3 offset1" style="text-align: right;">
            <div class="row-fluid">
                <div class="span1"><i class="icon-search"></i></div>
                <div class="span2" style="width: 200px;"><a mailto="#"> pharmtranslate@gmail.com</a></div>
            </div>
            <div class="row-fluid pull-right">
                <div class="span1" style="padding-top: 10px;"><i class="icon-search"></i></div>
                <div class="span2" style="width: 200px;">
                    <address>
                    +7 (910) 452-98-85<br>
                    +7 (903) 243-96-67
                    </address>
                </div>
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <ul class="nav nav-tabs nav-stacked">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги и цены</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="span5">
            <div class="well-large">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget sagittis lacus. Sed et dolor cursus, auctor nisi et, venenatis velit. Nullam sed libero eu augue porttitor facilisis vel in sapien. Curabitur lacus massa, viverra id nibh nec, ullamcorper eleifend libero. Donec viverra feugiat eros. Donec dolor diam, tempus vel viverra id, pulvinar id nisl. Sed quam magna, eleifend eget risus eu, rutrum lacinia ipsum. Nulla aliquam porta tempor. Proin diam risus, fringilla eget nulla sed, venenatis pellentesque ante. Vestibulum eget porttitor augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Maecenas imperdiet dapibus sem ac facilisis. Donec sodales vulputate faucibus. Suspendisse eget nisl gravida, gravida enim ut, blandit tellus. Vestibulum convallis feugiat tellus eu varius. Suspendisse suscipit urna nisl, et lobortis odio auctor vel. Fusce quam tellus, commodo at sapien nec, cursus facilisis massa. Interdum et malesuada fames ac ante ipsum primis in faucibus.

                Praesent a pharetra lorem. Aliquam commodo convallis elementum. Duis rutrum sapien ut elit ullamcorper, in commodo lectus tincidunt. Proin mi justo, fringilla non faucibus ut, rutrum vel metus. Nulla lacinia sem vel libero sollicitudin, id euismod odio pharetra. Integer in orci nisi. Vivamus gravida tristique dui at faucibus. Etiam at ante id sem sodales luctus eget sit amet magna. Proin vitae consectetur arcu. Pellentesque vitae bibendum tortor. Cras et ante a felis commodo consectetur.
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <ul class="nav">
           <li><a href="#">Кабинет</a></li>
        </ul>
    </div>
</div>
</body>
</html>