@(loginForm: Form[(String,String, Boolean)])(implicit flash: Flash)

<html>
<head>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
</head>
<body>

    @import helper._
    @import helper.twitterBootstrap._

    @form(routes.Auth.authenticate()) {

        @inputText(loginForm("email"), '_label -> Messages("loginEmailField"))
        @inputText(loginForm("password"), '_label -> Messages("loginPassField"))
        @checkbox(loginForm("remember"), '_label -> Messages("loginRemember"))

        <input type="submit" value="@Messages("articleSave")" class="btn-primary">

    }

</body>
</html>